/* general */
@font-face {
    font-family: "Open Sans Regular";
    src: 
        local('Open Sans Regular'),
        url('./Open_Sans/OpenSans-Regular-webfont.woff') format('woff')
}
@font-face {
    font-family: "Open Sans Semibold";
    src: 
        local('Open Sans Semibold'),
        url('./Open_Sans/OpenSans-Semibold-webfont.woff') format('woff')
}
:root {
    --md-text-font-family: 'Open Sans Regular', sans-serif;
    --md-primary-fg-color:        rgb(0, 37, 87);
    --md-primary-fg-color--light: rgb(39, 66, 117);
    --md-footer-bg-color:         rgb(0, 37, 87);
    --tud-grey-100:               rgb(51, 51, 51);
    --tud-red-90:                 rgb(221, 29, 29);

}

.md-typeset h1, 
.md-typeset h2, 
.md-typeset h3, 
.md-typeset h4, 
.md-typeset h5 {
    font-family: 'Open Sans Semibold';
    line-height: 130%;
	margin: 0.2em;
}

.md-typeset h1 {
    font-family: 'Open Sans Regular';
    font-size: 1.6rem;
	margin-bottom: 0.5em;
}

.md-typeset h2 {
    font-size: 1.2rem;
	margin: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.md-typeset h3 {
    font-size: 1.1rem;
}

.md-typeset h4 {
    font-size: 1rem;
}

.md-typeset h5 {
    font-size: 0.8rem;
    text-transform: initial;
}

strong {
    font-weight: bold;
    line-height: 170%;
}

.md-typeset a {
    line-height: 170%;
    color: var(--tud-red-90);
}

.md-grid {
    max-width: 1600px;
}

.md-typeset code {
    word-break: normal;
}

.md-typeset .admonition,
.md-typeset details,
.md-typeset code {
    font-size: 0.8rem;
}

/* header */
.zih-logo img{
    display: none;
}
@media screen and (min-width: 76.25rem) {
    .md-header,
    .md-header__title, 
    .md-header__button,
    .md-header__topic {
        height: 80px;
    }  

    .md-header__button,
    .md-header__button.md-logo,
    .md-logo {
        padding: 0 0.6rem;
        margin: 0;
    }

    .zih-logo img{
        display: inline-block;
        height: 100%;
        margin: 0 auto;
    }
}


.md-header__topic{
    padding: 0 30px;
    background-color: var(--md-primary-fg-color--light); 
}

.md-header__topic *,
.md-search {
    display: flex;
    align-items: center;
}

.md-header .md-logo img,
.md-footer .md-logo img {
    margin-top: 22px;
    height: 36px;
    width: 125px;
    object-fit: fill;
}

.md-search {
    height: 44px;
}

/* header mobile view */
.md-nav__title .md-nav__button.md-logo img {
    height: 36px;
    width: 125px;
}

.md-header__button.md-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 76.25rem) {
    .md-header__button.md-icon {
        display: none;
    }
}

@media screen and (min-width: 60rem) {
    .md-header__button.md-icon {
        display: none;
    }
}
/* toc */
/* operation-status */
.operation-status-logo {
    width: 0.5rem;
}
    
hr.solid {
    border-top: 2px solid #bbb;
}

p {
    padding: 0 0.6rem;
	margin: 0.2em;	
}
/* main */

/* footer */
.md-footer * {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 40rem) {
    .md-footer * {
        flex-direction: row;
    }
}

.md-footer-logo {
    flex-grow: 2;
}

.footer-item {
    margin: 0 30px 0 0;
}

.md-footer {
    background-color: var(--md-primary-fg-color);
}

.highlight .go {
    user-select: none;
}

.highlight .gp {
    user-select: none;
}
